* {
    box-sizing: border-box;
}
html,body {
    height: 100%;
    font-family: MicrosoftYaHei ,sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    outline: none;
}
.login-body {
    width: 100%;
    height: 100%;
    background-color: #102455;
}
.login-content {
    padding: 10%;
    text-align: center;
}
.login-form {
    background-color: white;
    width: 35%;
    margin-left: 30%;
    text-align: center;
    padding: 40px 20px;
    border-radius: 5px;
}
.login-btn {
    background-image: url(../img/login-btn.png);
    background-size: contain;
    width: 72px;
    height: 25px;
    color: white;
    border: 0;
    font-size: 1rem;
}
.login-input {
    width: 60%;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px solid #C3C3C3;
    font-size: 1em;
}
header {
    text-align: center;
    border: 1px solid #102455;
    color: white;
    background-color: #102455;
    position: relative;
}
.page-body {
    padding: 50px;
}
.person-message {
    border-bottom: 1px solid #102455;
    padding-bottom: 20px;
    position: relative;
}
.person-image {
    display: inline-block;
    margin-right: 30px;
    margin-left: 20px;
}
.person-image img {
    height: 88px;
    border-radius: 4px;
}
.person-detail {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.2em;
}
.person-detail p {
    margin: 5px 0;
}
.course {
    border-bottom: 1px solid #102455;
}
.course-title {
    font-size: 1.4em;
    padding-top: 10px;
    padding-left: 15px;
}
.course-result {
    padding: 10px 0;
    text-align: right;
}
.result p {
    margin: 0;
    text-align: right;
}
.col-3 {
    width: 24%;
}
.course-detail {
    display: inline-block;
    padding: 0 10px;
    height: 110px;
    overflow: hidden;
}
.product_section1 ,.product_section2{
    height: 90px;
    padding-top: 25px;
    padding-left:30px;
    background-color: #102455;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
}
.final-result {
    text-align: right;
    font-size: 1.2em;
    padding-top: 25px;
}
.logout {
    position: absolute;
    bottom: 0;
    right: 100px;
    color: white;
}
.updatepass{
    position: absolute;
    bottom: 0;
    right: 20px;
    color: white;
}
.import {
    padding-bottom: 30px;
}
#btnUpload,.import-btn,.select-btn,.outport-btn {
    text-align: center;
    padding: 5px 30px;
    margin-right: 20px;
    background-color: #102455;
    display: inline-block;
    color: white;
    border-radius: 5px;
    border: 0px;
}
.outport-btn {
    margin: 20px 0;
}
.import-result {
    display: inline-block;
}
.import-error {
    color: red;
}
.select-content {
    margin-bottom: 30px;
}
.select-box {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.select-box input[type="text"] {
    width: 200px;
    padding: 5px 10px;
    background: url(../img/down.gif) no-repeat 180px center;
    border: 1px solid #B7B7B7;
    font-size: 1em;
    color: #B7B7B7;
}
.select-box ul {
    position: absolute;
    right: 0;
    text-align: left;
    border: 1px solid #B7B7B7;
    margin-top: -1px;
    width: 200px;
    padding: 0;
    background-color: white;
}
.select-box li {
    list-style: none;
    padding: 5px;
}
.select-ul li:hover {
    background-color: #B7B7B7;
}
.hide {
    display: none;
}
.unvisible {
    visibility: hidden;
}
table {
    border-collapse:collapse;
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
}
table th,table td {
    border: 2px solid white;
    padding: 10px 20px;
}
tr:nth-child(odd) {
	background-color: #C6E2FF;
}
tr:nth-child(even) {
	background-color: #EED8AE;
}
table a {
    color: black;
    text-decoration:none;
}
.illustration {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
#myModal {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -90px;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
}
.modalDialog {
    background-color: white;
    position: absolute;
    width: 400px;
    height: 200px;
    left: 50%;
    top: 300px;
    margin-left: -200px;
    z-index: 2;
    border-radius: 5px;
    padding: 20px;
}
.modal-header,.modal-footer {
    position: relative;
}
.close-icon {
    position: absolute;
    right: 0;
    border: none;
    background-color: white;
    font-size: 1.4em;
}
.close-btn {
    position: absolute;
    right: 0;
    background-color: #102455;
    border: 0;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
}
.modal-body {
    padding: 20px;
}
.hidden {
    visibility: hidden;
}
